<html>
  <head>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <style>
      p {
        margin-top: 2em;
        margin-left: 2em;
        margin-right: 2em;
        margin-bottom: 2em;
       }
      div {
        margin-top: 2em;
        margin-left: 2em;
        margin-right: 2em;
        margin-bottom: 2em;
       }
    </style>
  </head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <body class='container'>
    <div>
      <form class="pure-form" method="POST" action="download">
        <h1>Youtube Link:</h1> <input class="pure-input-1" type="text" name="yturl">
        <br><br>
        <input type="submit" value="Download">
      </form>
    </div>
  </body>
</html>
